.tableDiv {
  width: 80%;
  margin: 0 auto;
}

/*make the table be scrollable*/
.scrollable {
  height: 76vh;
  overflow-y: auto;
}

/*make the table headers sticky and darker color*/
th {
  background-color: #171a1c;
  position: sticky;
  top: 0;
}

/*separate the title and the search box*/
.above-table {
  display: flex;
  width: 100%;
}

input[type="text"],
select {
  width: 20%;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 20px;
  padding-left: 5px;
  float: left;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid black;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  border: 2px solid #555;
}

label {
  font-size: 25px;
  float: left;
  white-space: pre-wrap;
}

.ap-header {
  float: right;
}
