.info-btn-td {
  width: 10%;
  text-align: center;
}

.info-window {
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #343a40;
  padding: 0px 10px 50px 50px;
  z-index: 1000;
  height: 90%;
  width: 70%;
  overflow-y: auto;
  border-radius: 15px;
  border: 8px white solid;
}

.info-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.info-close-btn {
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
  font-size: 40px;
  float: right;
  position: sticky;
  top: 0;
  color: white;
}

.info {
  margin: 50px 40px 0 0;
}
