.open-chat-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 35px;
  margin-right: 35px;
  border-radius: 50%;
  height: 8%;
  width: 4%;
  border: 4px #153d64 solid;
  color: #153d64;
  background-color: transparent;
  font-weight: bold;
}

.open-chat-btn:hover {
  color: white;
  background-color: #153d64;
}

.bot-chat {
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171a1c;
  padding: 0;
  z-index: 1000;
  height: 90%;
  width: 50%;
  overflow-y: auto;
  text-align: center;
  border: white solid 2px;
}

.chat-text-box {
  color: white;
  position: absolute;
  width: 80%;
  background-color: #343a40;
  height: 8%;
  padding-left: 5px;
  border: none;
  font-size: 1.4em;
  bottom: 0px;
  left: 0px;
}

input:focus {
  outline: none;
}

.chat-close-btn {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
  font-size: 40px;
  top: 5px;
  right: 5px;
  color: white;
}

.send-btn {
  position: absolute;
  border: none;
  background: grey;
  outline: none;
  height: 8%;
  width: 20%;
  bottom: 0px;
  right: 0px;
  color: white;
}

.send-btn:hover {
  background: rgb(100, 100, 100);
}

.messages-box-scrollable {
  position: absolute;
  width: 96%;
  bottom: 8%;
  margin: 1% 2%;
}

.messages-box {
  height: 80%;
}

.message {
  max-width: 80%;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  margin: 10px 1px;
  height: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.message-container {
  width: 100%;
  display: flex;
}

.justify-left {
  justify-content: flex-end;
}

.justify-right {
  justify-content: flex-start;
}

.bot-msg {
  background-color: #343a40;
  border-bottom-left-radius: 0px;
}

.client-msg {
  background-color: #153d64;
  border-bottom-right-radius: 0px;
}

.clear-btn {
  margin: 5px;
}

.messages-box-scrollable-feed {
  height: 100%;
}
