.header {
  background-color: #343a40;
  color: white;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

/*-----------------------------------------------------------*/
/*custom scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 25px;
  height: 40px;
}
